/* User Login Page */

body {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  background-image:
    linear-gradient(90deg, #0ca3d2 25%, #ffffff 75%);
}

.loginFormBox {
  margin: 50px auto;
  padding: 5px;
  border: 5px ridge navy;
  border-radius: 20px;
  width: 500px;
  background-image:
    linear-gradient(90deg,  #ffffff 25%, #0ca3d2 75%);

}

.login {
  position: relative;
  margin: 0 auto;
  padding: 10px 10px 10px;
  width: 310px;
}

.login input[type=text], .login input[type=password] {
  width: 250px;
  height: 25px;
  border: 2px solid black;
  border-radius: 20px;
}

.saveToDevice {

}

.loginHelp {
  position: relative;
  margin: 0 auto;
  width: 310px;
  font-size: 1.5em;
}

input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
